*/application/config/database.php
*/assets/compressed/js/*
*/assets/compressed/css/*
*/logs/*
*/ci-1.7.3/logs/log-*.php
*/ci-1.7.3/cache/*
*/ci-1.7.3/cache/!index.html
logs/codeigniter_base.dev-error_log
